<div class="container">
 <div class="row mt-5">
  <div class='col'>
   <h3 class="text-info font-weight-bold">投稿一覧</h3>
  </div>
  <div class='col-2'>
   <%= search_form_for @q, url: songs_path do |f| %>
   <%= f.search_field :genre_name_cont, class: 'form-control', placeholder: 'ジャンル' %>
  </div>
  <div class='col-offset-5 col-2'>
   <%= f.search_field :title_or_body_or_user_name_cont, class: 'form-control', placeholder: 'キーワード' %>
  </div>
  <div class='col-3'>
   <%= button_tag type: "submit", class: 'btn btn-primary' do %>
    <i class="fas fa-search"></i>
   <% end %>
   <% end %>
  </div>
 </div>


  <div class="row mt-3">
   <% @songs.each do |song| %>
    <div class="col-md-3 mb-3">
     <div class="card">
      <p class="ml-2 mt-2"><%= song.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     <div class="card-img-top">
     <%= link_to user_path(song.user.id) do %>
      <%= image_tag song.user.get_image %>
     <% end %>
     <p class="ml-4 font-weight-bold"><%= song.user.name %></p>
     </div>
      <div class="card-body">
       <h5 class="card-title mb-3 font-weight-bold"><%= song.title %></h5>
       <h6 class="card-subtitle mb-4">
          <i class="fa-solid fa-tag"></i>
          <%= song.genre.name %>
       </h6>
       <p class="card-text"><%= truncate(song.body, length: 12) %></p>
      </div>
      <table class="ml-3 mb-3">
       <tr>
        <td id="favorite_buttons_<%=song.id%>"><%= render "public/favorites/favorites", song: song %></td>
        <td id="comment_count"><%= render "public/comments/count", song: song %></td>
        <td>
         <%= link_to song_path(song.id) do %>
          <i class="fa-solid fa-circle-info"></i>詳細
         <% end %>
        </td>
       </tr>
      </table>
     </div>
    </div>
    <% end %>
  </div>
</div>

