<div class="container">
  <div class="row mt-4">
    <div class="col-sm-9 px-sm-0 offset-sm-3">

<h3 class="table-secondary d-inline-flex pl-4 pr-4 mt-4 mb-5">投稿</h3>

<%= form_with model: @song, url:songs_path, local:true do |f| %>
<table class="table table-borderless table-sm">
  <tr>
    <th>ジャンル</th>
    <th><%= f.collection_select(:genre_id, @genres, :id, :name) %></th>
  </tr>
  <tr>
    <th>曲名</th>
    <th><%= f.text_field :title, size:"30x5" %></th>
  </tr>
  <tr>
    <th>投稿内容</th>
    <th><%= f.text_area :body, size:"31x5" %></th>
  </tr>
</table>

<div class="col-sm-9 px-sm-0 offset-sm-4">
  <%= f.submit "投稿する",class: "btn btn-success" %>
</div>
<% end %>

    </div>
  </div>
</div>