<div class="container">
<h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-5">投稿詳細</h3>
 <div class="row">

  <div class="col-11 mt-5">
   <table class="table table-borderless">
    <tr>
     <td><%= image_tag @song.user.get_image, size:'50x50' %></td>
     <th><%= @song.user.name %></th>
    </tr>
    <tr>
     <th class="text-center">ジャンル</th>
     <td><%= @song.genre.name %></td>
    </tr>
    <tr>
     <th class="text-center">曲名</th>
     <td><%= @song.title %></td>
    </tr>
    <tr>
     <th class="text-center">投稿内容</th>
     <td><%= @song.body %><td>
    </tr>
    <tr>
     <th class="text-center">いいね</th>
     <td id="favorite_buttons_<%=@song.id%>"><%= render "public/favorites/favorites", song: @song %></td>
    </tr>
   </table>

   <div class="text-center">
    <% if @user == current_user %>
    <%= link_to "編集する", edit_song_path(@song), class: "btn btn-success" %>
    <%= link_to 'Destroy', song_path(@song), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
    <% end %>
   </div>

   <div id="comment-form">
     <%= render "public/comments/form", { song: @song , comment: @comment } %>
   </div>

   <div id="comments">
     <%= render "public/comments/index", { song: @song , song_comments: @song_comments } %>
   </div>
  </div>
 </div>
</div>