<div class='container'>
<h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-5 ml-5">管理者ログイン</h3>
<div class='row mt-3'>
<div class="col-sm-9 px-sm-6 offset-sm-2">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table table-borderless">
    <tr>
      <td><%= f.label :email, "メールアドレス" %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %></td>
    </tr>

    <tr>
      <td><%= f.label :password, "パスワード" %></td>
      <td><%= f.password_field :password, autocomplete: "current-password" , size: 50 %></td>
    </tr>
  </table>

  <div class="actions", style="padding-left:180px">
    <%= f.submit "ログイン", class:"btn btn-primary"%>
  </div>
<% end %>

<%= render "admin/shared/links" %>
