<div class='mt-3'>
 <table>
  <tbody>
    <% song_comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_image, size: "50x50" %><br>
        <% end %>
      </td>
      <td style="padding-left:15px", class="font-weight-bold"><%= comment.user.name %>・<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
    <tr>
      <td></td>
      <td valign="top", style="padding-left:15px">
        <%= simple_format(comment.content) %>
        <%= link_to "削除する", song_comment_path(song, comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true, data: {"turbolinks" => false} %>
      </td>
    </tr>
    <% end %>
  </tbody>
 </table>
</div>