<table>
  <tbody>
    <% song_comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_image, size: "50x50" %><br>
          <%= comment.user.name %>
        <% end %>
      </td>
      <td><%= comment.content %></td>
      <td>
        <% if comment.user == current_user %>
          <%= link_to "Destroy", song_comment_path(song, comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true, data: {"turbolinks" => false} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>