<div class="container">
 <div class="row mt-5">
  <div class='col'>
   <h3 class="text-info font-weight-bold">会員一覧</h3>
  </div>
 </div>
   <div class="row mt-3">
        <% @users.each do |user| %>
    <div class="col-md-3 mb-3">
     <div class="card border-info h-100">
     <div class="card-img-top"><%= image_tag user.get_image, size: "50×50" %></div>
      <div class="card-body">
       <h5 class="card-title mb-1 font-weight-bold"><%= user.name %></h5>
       <h6 class="card-subtitle mb-3">
          <i class="fa-solid fa-envelope"></i>
          <%= user.email %>
       </h6>
       <p class="card-text"><%= truncate(user.introduction, length: 8) %></p>
      <table>
       <tr>
        <td>
         <i class="fa-solid fa-person"></i>
         <% if user.is_withdrawal == true %>
          <span style="color:darkgray;"><%= "退会" %></strong>
         <% else %>
          <strong style="color:orange;"><%= "有効" %></strong>
         <% end %>
        </td>
        <td style="padding-left:20px">
         <%= link_to admin_user_path(user.id) do %>
         <i class="fa-solid fa-circle-info"></i>詳細
         <% end %>
        </td>
       </tr>
      </table>
      </div>
     </div>
    </div>
    <% end %>
   </div>
</div>
