<div class="container">
  <div class="row">
    <h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-5 mb-4">会員一覧</h3>

      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-secondary">
            <th>会員ID</th>
            <th>プロフィール画像/名前</th>
            <th>メールアドレス</th>
            <th>自己紹介文</th>
            <th>ステータス</th>
          </tr>
        </thead>

       <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, admin_user_path(user.id) %></td>
            <td>
              <%#=image_tag @user.get_profile_image, size:'100x100' %></br>
              <%= user.name %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.introduction %></td>
            <td><%= user.customer_status %></td>
          </tr>
       </tbody>
      <% end %>
      <%= paginate @users %>
      </table>
    </div>
  </div>

  <%= paginate @users %>
