<div class="container">
  <div class="row">
    <div class="col">
    <h4 class="table-secondary d-inline-flex pl-4 pr-4 mt-5 mb-4 ml-2"><%= @user.name %>さんの会員詳細</h4>
      <table class="table table-borderless">
            <tr>
              <th class="text-left">会員ID</th>
              <th><%= @user.id %></th>
            </tr>

            <tr>
              <th class="text-left">ユーザー名</th>
              <th><%= @user.last_name %><%= @customer.first_name %></th>
            </tr>

            <tr>
              <th class="text-left">メールアドレス</th>
              <th><%= @customer.email %></th>
            </tr>
            

            <tr>
              <th class="text-left">自己紹介文</th>
              <th><%= @user.introduction %></th>
            </tr>

            <tr>
              <th class="text-left">会員ステータス</th>
              <th class="text-success"><%= @customer.customer_status %></th>
            </tr>

            <tr>
              <th></th>
              <th><%= link_to "削除する", admin_user_path(@user), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></th>
            </tr>

      </table>
      </div>
    </div>
  </div>