<div class="container">
  <div class="row mt-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-4 mb-5">ログイン</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      会員の方はこちらからログイン
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-sm-2 px-sm-0 offset-sm-1">
         <%= f.label "メールアドレス" %>
      </div>
      <div class="col-sm-3 px-sm-0">
        <%= f.email_field :email, autofocus: true, size: 40 %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 px-sm-0 offset-sm-1"><br>
        <%= f.label "パスワード" %>
      </div>
      <div class="col-sm-3 px-sm-0"><br>
        <%= f.password_field :password, size: 40 %>
      </div>
    </div>
    <div class="row">
     <div class="col-sm-3 px-sm-0 offset-sm-3"><br>
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <br>
  <%= render "public/shared/links" %>
</div>
