 <div class="row mt-3">
  <% songs.each do |song| %>
   <div class="col-md-4 mb-3">
     <div class="card border-info h-100">
      <p class="ml-2 mt-2"><%= song.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     <div class="card-img-top ">
      <%= image_tag song.user.get_image, size: "50×50" %>
     <p class="font-weight-bold ml-2">
      <i class="fa-solid fa-user"></i>
      <%= song.user.name %>
     </p>
     </div>
     <p class="card-title ml-2 font-weight-bold">
      <i class="fa-solid fa-record-vinyl"></i>
      <%= truncate(song.title, length: 7) %>
      <i class="fa-solid fa-tag", style="padding-left:10px;"></i>
      <%= song.genre.name %>
     </p>
     <div class="card-text", style="padding-left:10px;"><%= simple_format(truncate(song.body, length: 28)) %></div>
      <table class="ml-3 mb-3">
       <tr>
        <td id="favorite_buttons_<%=song.id%>"><%= render "public/favorites/favorites", song: song %></td>
        <td id="comment_count"><%= render "public/comments/count", song: song %></td>
        <td>
         <%= link_to song_path(song.id) do %>
          <i class="fa-solid fa-circle-info"></i>詳細
         <% end %>
        </td>
       </tr>
      </table>
     </div>
    </div>
    <% end %>
  </div>