<div class="container">
  <div class="row mt-4">
    <div class="col-sm-9 px-sm-0 offset-sm-3">
     <h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-4 mb-5">ユーザー編集</h3>
 
      <%= form_with model: @user, local:true do |f| %>
      <table class="table table-borderless table-sm">
        <tr>
          <th style="width:200px;">ユーザー画像</th>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <th><%= f.text_field :name, size:"30x5" %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= f.text_area :introduction, size:"31x5" %></th>
        </tr>
      </table>

      <div class="col-sm-9 px-sm-0 offset-sm-3">
       <%= f.submit "変更を保存",class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>