<div class="container">
<h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-5">いいね一覧</h3>
 <div class="row">

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>曲名</th>
      <th>投稿内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorite_songs.each do |song| %>
      <tr>
        <td><%= song.genre.name %></td>
        <td><%= link_to song.title, song_path(song.id) %></td>
        <td><%= song.body %></td>
        <td><%= render "public/favorites/favorites", song: song %></td>
        <td>
          <i class="fa-regular fa-comment"></i>
          <%= song.comments.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
 </div>
</div>