<header>
  <nav class="navbar navbar-expand-lg navbar-dark p-4" style="background-color: #deb887;">
    <div class="container-md">

      <a class="navbar-brand" href="/"><h1>Progressing</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if user_signed_in? %>

          <li class='mr-5 mt-3' style="color: #fff;">
            ようこそ、<%= current_user.name %>さん！
          </li>

          <li class="btn btn-outline-light btn-sm ml-1">
            <%= link_to user_path(current_user),class: 'nav-link text-light' do %> マイページ
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%=  link_to songs_path,class: 'nav-link text-light' do %> 投稿一覧
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %> ログアウト
            <% end %>
          </li>

        <% elsif admin_signed_in? %>

          <li class="btn btn-outline-light btn-sm ml-1">
            <%=  link_to admin_users_path ,class: 'nav-link text-light' do %> 会員一覧
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%=  link_to admin_songs_path ,class: 'nav-link text-light' do %> 投稿一覧
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%=  link_to admin_genres_path ,class: 'nav-link text-light' do %> ジャンル一覧
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%=  link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %> ログアウト
            <% end %>
          </li>

        <% else %>

          <li class="btn btn-outline-light btn-sm ml-1">
            <%= link_to about_path,class: 'nav-link text-light' do %> About
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %> 新規登録
            <% end %>
          </li>
          <li class="btn btn-outline-light btn-sm ml-1">
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %> ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="col-xs-3 ml-4">
         <input type="text" class="form-control form-control-sm" placeholder="キーワードを入力">
         <button class="btn btn-sm text-light" style="background-color: #b38c59;" type="button" id="button-addon2"><i class="fas fa-search"></i> 検索</button>
      </div>
    </div>
  </nav>
</header>