<!DOCTYPE html>
<html>
  <head>
    <title>Progressing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/cd2e65d323.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wrapper", style="background-color: #FFFAF0;">
    <main>
      <%= render 'layouts/header' %>
      <%= alert %>
      <%= yield %>
    </main>
    <div style="padding-top:40px">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
